<% if @scr_transaccion.errors.any? %>
 <div id="error_explanation">
  <h2><%= pluralize(@scr_transaccion.errors.count, "error") %> prohibited this scr_transaccion from being saved:</h2>
   <ul>
    <% @scr_transaccion.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
   </ul>
 </div>
<% end %>
<div class="module">
 <div class="module-head"><h3>Agregar transacción</h3></div>
 <div class="module-body">
  <%= form_for :transacx, class:"form-horizontal row-fluid", :url => { :action => :index } do |f| %>
   <div class="control-group">
    <%= f.label :cuenta, class: "control-label" %>
    <div class="controls">
     <!--<%= f.select :cuenta_id, ScrCuentua.select('id, cat_cuenta_id, "cuentaCodigo", "cuentaNombre"').group('id, cat_cuenta_id, "cuentaCodigo", "cuentaNombre"').order(:cuentaCodigo, :cuentaCodigo).all.collect { |p| [ p.cuentaNombre, p.id ] }, include_blank: false %>-->
     <%= f.select :cuenta, ScrCuentua.order('CAST("cuentaCodigo" AS TEXT)').all.collect { |p| [ p.cuentaCodigo.to_s+"-"+p.cuentaNombre, p.id ] }, include_blank: false %>
    </div>
   </div>
   <div class="control-group">
    <%= f.label :monto %>
    <div class="controls">
     <div class="input-append">
      <%= f.text_field :transaxMonto, placeholder:"0.0" %><span class="add-on">$</span>
     </div>
    </div>
   </div>
   <div class="control-group">
    <%= f.label :fecha %>
    <div class="controls">
     <%= f.text_field :transaxFecha, id: "datepicker" %>
    </div>
   </div>
   <div class="control-group">
    Tipo:  <%= f.text_field :transaxDebeHaber, type:"radio", value:"1" %>Debe <%= f.text_field :transaxDebeHaber, type:"radio", value:"0", checked:"true"%>Haber 
    <%= f.submit "Enviar transacción", class:"btn btn-mini btn-primary", data: { confirm: 'Confirma la operación ?' } %>
   </div>
  <% end %>
 </div>
</div>
