     <table class="table table-striped table-hover">
      <thead><tr><th>Secuencia</th><th>Cuenta</th><th>Nombre</th><th>Debe</th><th>Haber</th><th>Fecha</th></tr></thead>
      <tbody>
       <% debe = 0 %>
       <% haber = 0 %>
       <% @scr_transaccions.each do |scr_transaccion| %> 
        <tr>
         <td><%= scr_transaccion.transaxSecuencia %></td>
         <% c = ScrCuentua.find(scr_transaccion.cuenta_id) %>
         <td><%= c.cuentaCodigo %></td>
         <td><%= c.cuentaNombre %></td>
         <% if scr_transaccion.transaxDebeHaber == TRUE %>
          <td><%= scr_transaccion.transaxMonto %></td><td></td>
          <% debe += scr_transaccion.transaxMonto %>
         <% else %>
          <td></td><td><%= scr_transaccion.transaxMonto %></td>
          <% haber += scr_transaccion.transaxMonto %>
         <% end %>
        <td><%= scr_transaccion.transaxFecha %></td>
       </tr>
      <% end %>
      <tr><td></td><td></td><td></td><td><b><%= debe %></b></td><td><b><%= haber %></b></td><td></td></tr>
      </tbody>
     </table>
    <div class="modal-footer">
     <button class="btn btn-default" data-dismiss="modal" type="button">Cerrar</button>
     <button class="btn btn-primary" type="button" onclick="window.location.href='#top'">Regresar al inicio</button>
    </div>
