<%= form_for(@scr_bombeo) do |f| %>
  <% if @scr_bombeo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_bombeo.errors.count, "error") %> prohibited this scr_bombeo from being saved:</h2>

      <ul>
      <% @scr_bombeo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Fecha: <%= f.text_field :fecha, placeholder:Time.now.strftime("%Y-%d-%m"), id: "datepicker" %>
  </div>
  <div class="field">
    Hora de inicio: <%= f.time_select :bombeo_inicio %>
  </div>
  <div class="field">
    Hora de fin: <%= f.time_select :bombeo_fin %>
  </div>
  <div class="field">
    Voltaje: <%= f.text_field :voltaje %>
  </div>
  <div class="field">
    Amperaje: <%= f.text_field :amperaje %>
  </div>
  <div class="field">
    Presión: <%= f.text_field :presion %>
  </div>
  <div class="field">
    Lectura P/D Micro Medidor: <%= f.text_field :lectura %>
  </div>
  <div class="field">
    Producción: <%= f.text_field :produccion %>
  </div>
  <div class="field">
    Tecnico: <%= f.select :empleado_id, ScrEmpleado.order(:empleadoNombre).all.collect { |p| [ p.empleadoNombre+"  ".html_safe+p.empleadoApellido, p.id ] }, include_blank: false %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class:"btn btn-mini btn-primary", data: { confirm: 'Confirma la operación ?' } %>
  </div>
<% end %>
