<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong> <%= @scr_bombeo.fecha %>
</p>

<p>
  <strong>Bombeo inicio:</strong> <%= @scr_bombeo.bombeo_inicio %>
</p>

<p>
  <strong>Bombeo fin:</strong> <%= @scr_bombeo.bombeo_fin %>
</p>

<p>
  <strong>Voltaje:</strong> <%= @scr_bombeo.voltaje %>
</p>

<p>
  <strong>Amperaje:</strong> <%= @scr_bombeo.amperaje %>
</p>

<p>
  <strong>Presion:</strong> <%= @scr_bombeo.presion %>
</p>

<p>
  <strong>Lectura:</strong> <%= @scr_bombeo.lectura %>
</p>

<p>
  <strong>Produccion:</strong> <%= @scr_bombeo.produccion %>
</p>

<%= link_to 'Edit', edit_scr_bombeo_path(@scr_bombeo), class:"btn btn-mini btn-info" %> |
<%= link_to 'Back', scr_bombeos_path, class:"btn btn-mini btn-inverse" %>
