<h1>Listado de estados</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scr_estados.each do |scr_estado| %>
      <tr>
        <td><%= scr_estado.nombreEstado %></td>
        <td><%= link_to ' Ver ', scr_estado %></td>
        <td><%= link_to ' Editar ', edit_scr_estado_path(scr_estado) %></td>
        <td><%= link_to ' Eliminar ', scr_estado, method: :delete, data: { confirm: 'Confirma la operación ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo estado', new_scr_estado_path %>
