<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @scr_usuario_rol.usuario_id %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @scr_usuario_rol.rol_id %>
</p>

<%= link_to 'Edit', edit_scr_usuario_rol_path(@scr_usuario_rol) %> |
<%= link_to 'Back', scr_usuario_rols_path %>
