<%= form_for(@scr_cuentua) do |f| %>
  <% if @scr_cuentua.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_cuentua.errors.count, "error") %> prohibited this scr_cuentua from being saved:</h2>

      <ul>
      <% @scr_cuentua.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :cuentaNombre %>
  </div>
  <div class="field">
    <%= f.label :Cuenta_de_orden_superior %><br>
    <%= f.select :cat_cuenta_id, ScrCuentua.order('CAST("cuentaCodigo" AS TEXT)').all.collect { |p| [ p.cuentaCodigo.to_s+"-"+p.cuentaNombre, p.id ] }, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :Es_Activo? %><br>
    <%= f.check_box :cuentaActivo %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %><br>
    <%= f.text_area :cuentaDescripcion %>
  </div>
  <div class="field">
    <%= f.label :Es_cuenta_negativa? %><br>
    <%= f.check_box :cuentaNegativa %>
  </div>
  <div class="field">
    <%= f.label :'Pertenece al estado de resultados' %><br>
    <% options_for_select([['Ingreso por Servicio', 1], ['Costo de servicios prestados', 2], ['Gastos de venta', 3], ['Gastos de administración', 4], ['Gastos financieros', 5], ['Productos financieros', 6], ['Impuesto a las ganancias', 7]]) %>
    <%= f.select :cuentaResultado, options_for_select([['No pertenece', 0], ['Ingreso por venta de agua', 1], ['Costo por servicios prestados', 2], ['Gastos de venta', 3], ['Gastos de administración', 4], ['Gastos financieros', 5], ['Ingreso por productos financieros / Otros ingresos', 6], ['Impuesto a las ganancias', 7]]) %>
  </div>
  <div class="actions">
    <%= f.submit "Crear cuenta", class:"btn btn-mini btn-info" %>
  </div>
<% end %>
