<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_cuentua.cuentaNombre %>
</p>

<p>
  <strong>Debe:</strong>
  <%= @scr_cuentua.cuentaDebe %>
</p>

<p>
  <strong>Haber:</strong>
  <%= @scr_cuentua.cuentaHaber %>
</p>

<p>
  <strong>Cuenta de orden superior:</strong>
  <%= @scr_cuentua.cat_cuenta_id %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @scr_cuentua.cuentaActivo %>
</p>

<p>
  <strong>Código:</strong>
  <%= @scr_cuentua.cuentaCodigo %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @scr_cuentua.cuentaDescripcion %>
</p>

<%= link_to ' Editar ', edit_scr_cuentua_path(@scr_cuentua), class:"btn btn-mini btn-info" %> |
<%= link_to ' Regresar ', scr_cuentuas_path, class:"btn btn-mini btn-inverse" %>
