                            <!--/.widget-nav-->
                            <ul class="widget widget-menu unstyled">
                                <li><li><a class="collapsed" data-toggle="collapse" href="#admin"><i class="menu-icon icon-cog">
                                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                </i>Catalogos :: </a>
                                    <ul id="admin" class="collapse unstyled">
                                     <li><%= link_to '<i class="icon-inbox"></i>Organizaciones '.html_safe,  scr_organizacions_url %></li>
                                     <li><%= link_to '<i class="icon-inbox"></i>Categoria de organizaciones '.html_safe, scr_cat_organizacions_url %></li>
                                     
                                     <li><%= link_to "Libro diario", libro_index_url %></li>
                                     <li><%= link_to "Libro mayor", libro_mayor_url %></li>
                                     <li><%= link_to "Recibos generados", home_index_path %></li>
                                     <li><%= link_to "Recibos cancelados", home_index_path %></li>
                                     <li><%= link_to "Recibos pendientes de pago", home_index_path %></li>
                                     <li><%= link_to "Operaciones generales", home_index_path %></li>
                                     <li><%= link_to "Resumen general", resumen_index_url %></li>
                                     <li><%= link_to "Balance de comprobación", estado_index_url %></li>
                                     <li><%= link_to "Balance general", estado_index_url %></li>
                                     
                                        <li><%= link_to '<i class="icon-inbox"></i>Bancos '.html_safe,  scr_bancos_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Cargos '.html_safe,  scr_cargos_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Cuentas '.html_safe, scr_cuentuas_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Estados '.html_safe,  scr_estados_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Localidades '.html_safe,  scr_cargos_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Organizaciones '.html_safe,  scr_organizacions_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Categoria de organizaciones '.html_safe,  scr_cat_organizacions_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Proveedores '.html_safe,  scr_proveedors_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Roles '.html_safe,  scr_rols_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Usuarios '.html_safe,  scr_usuarios_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Transacciones '.html_safe,  transaccion_index_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Categoria de actividades '.html_safe,  scr_cat_actividads_url %></li>
                                        
                                        <li><%= link_to '<i class="icon-inbox"></i>Proveedores'.html_safe, proveedor_index_path %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Cuentas '.html_safe, cuenta_index_path %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Localidades '.html_safe, scr_localidads_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Cargos '.html_safe, cargo_index_path %></li>
                                        
                                        <li><%= link_to '<i class="menu-icon icon-bar-chart"></i>Bloque de consumo'.html_safe, bloque_index_path %></li>
                                        <li><%= link_to '<i class="menu-icon icon-book"></i>Activo fijo '.html_safe, afijo_index_path %></li>
                                        <li><%= link_to '<i class="menu-icon icon-table"></i>Ciclo contable '.html_safe, core_index_path %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Roles '.html_safe, rol_index_path %></li>
                                        <li><%= link_to '<i class="menu-icon icon-bold"></i>Estados '.html_safe, estado_index_path %></li>
                                        <li><%= link_to '<i class="menu-icon icon-paste"></i>Beneficiarias '.html_safe, persona_index_path %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Resumen de usuarios '.html_safe, resumen_index_url %></li>
                                    </ul>
                                </li>
                            </ul>
