                            <!--/.widget-nav-->
                            <ul class="widget widget-menu unstyled">
                                <li><li><a class="collapsed" data-toggle="collapse" href="#admin"><i class="menu-icon icon-cog">
                                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                </i>Catalogos :: </a>
                                    <ul id="admin" class="collapse unstyled">
<!--                                     <li><%= link_to '<i class="icon-inbox"></i>Organizaciones '.html_safe,  scr_organizacions_url %></li>
                                     <li><%= link_to '<i class="icon-inbox"></i>Categoria de organizaciones '.html_safe, scr_cat_organizacions_url %></li>
                                     
                                        <li><%= link_to '<i class="icon-inbox"></i>Bancos '.html_safe,  scr_bancos_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Cargos '.html_safe,  scr_cargos_url %></li>
-->                                        <li><%= link_to '<i class="icon-inbox"></i>Cuentas '.html_safe, scr_cuentuas_url %></li>
<!--                                        <li><%= link_to '<i class="icon-inbox"></i>Estados '.html_safe,  scr_estados_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Localidades '.html_safe,  scr_cargos_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Organizaciones '.html_safe,  scr_organizacions_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Categoria de organizaciones '.html_safe,  scr_cat_organizacions_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Proveedores '.html_safe,  scr_proveedors_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Roles '.html_safe,  scr_rols_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Usuarios '.html_safe,  scr_usuarios_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Transacciones '.html_safe,  transaccion_index_url %></li>
                                        <li><%= link_to '<i class="icon-inbox"></i>Categoria de actividades '.html_safe,  scr_cat_actividads_url %></li>
-->                                        <li><%= link_to '<i class="icon-inbox"></i>Localidades '.html_safe, scr_localidads_url %></li>
                                        <li><%= link_to '<i class="menu-icon icon-table"></i>Ciclo contable '.html_safe, core_configure_path %></li>
                                    </ul>
                                </li>
                            </ul>
