                            <!--/.widget-nav-->
                            <ul class="widget widget-menu unstyled">
                                <li><li><a class="collapsed" data-toggle="collapse" href="#cobros"><i class="menu-icon icon-cog">
                                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                </i>Cobros y recibos :: </a>
                                    <ul id="cobros" class="collapse unstyled">
                                     <li><%= link_to '<i class="icon-inbox"></i>Recibos y pagos'.html_safe, scr_det_facturas_url %></li>
                                     <li><%= link_to '<i class="icon-inbox"></i>Tipos de cobro'.html_safe, scr_cobros_url %></li>
                                     <li><%= link_to '<i class="icon-inbox"></i>Categoria de cobro'.html_safe, scr_cat_cobros_url %></li>
                                     <li><%= link_to '<i class="icon-inbox"></i>Generar recibos del mes'.html_safe, recibo_index_url %></li>
                                     <li><%= link_to '<i class="icon-inbox"></i>Imprimir recibos del mes'.html_safe, recibo_imprimir_url %></li>
                                    </ul>
                                </li>
                            </ul>
