<%= form_for(@scr_localidad) do |f| %>
  <% if @scr_localidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_localidad.errors.count, "error") %> prohibited this scr_localidad from being saved:</h2>

      <ul>
      <% @scr_localidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :localidad_nombre %><br>
    <%= f.text_field :localidad_nombre %>
  </div>
  <div class="field">
    <%= f.label :localidad_descripcion %><br>
    <%= f.text_area :localidad_descripcion %>
  </div>
  <div class="field">
    <%= f.label :localidad_lat %><br>
    <%= f.text_field :localidad_lat %>
  </div>
  <div class="field">
    <%= f.label :localidad_lon %><br>
    <%= f.text_field :localidad_lon %>
  </div>
  <div class="field">
    <%= f.label :localidad_id %><br>
    <%= f.select :localidad_id, ScrLocalidad.order(:localidad_nombre).all.collect { |p| [ p.localidad_nombre, p.id ] }, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit "Crear localidad", class:"btn btn-primary" %>
  </div>
<% end %>
