<%= form_for(@scr_rol) do |f| %>
  <% if @scr_rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_rol.errors.count, "error") %> prohibited this scr_rol from being saved:</h2>

      <ul>
      <% @scr_rol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :nombrerol %>
  </div>
  <div class="field">
    <%= f.label :Detalle %><br>
    <%= f.text_area :detallerol %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
