<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_rol.nombrerol %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @scr_rol.detallerol %>
</p>

<%= link_to ' Editar ', edit_scr_rol_path(@scr_rol), class:"btn btn-mini btn-info" %> |
<%= link_to ' Regresar ', scr_rols_path, class:"btn btn-mini btn-inverse" %>
