<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_cobro.cobroNombre %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @scr_cobro.cobroCodigo %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @scr_cobro.cobroDescripcion %>
</p>

<p>
  <strong>Inicio de periodo:</strong>
  <%= @scr_cobro.cobroInicio %>
</p>

<p>
  <strong>Fin de periodo:</strong>
  <%= @scr_cobro.cobroFin %>
</p>

<p>
  <strong>Valor de cobro:</strong>
  <%= @scr_cobro.cobroValor %>
</p>

<p>
  <strong>Es permanente:</strong>
  <%= @scr_cobro.cobroPermanente %>
</p>

<%= link_to 'Editar', edit_scr_cobro_path(@scr_cobro) %> |
<%= link_to 'Regresar', scr_cobros_path %>
