<div class="module">
 <div class="module-head">
 <h3>Agrega lectura de consumo 
 </h3>
  <%= render 'previo' %>
 </div>
 <div class="module-body table">
  <table cellpadding="0" cellspacing="0" border="0" class="datatable-2 table table-bordered table-striped	 display" width="100%">
   <thead>
    <tr>
      <th>Medidor</th>
      <th>Persona socia Fecha: [<%= session['mes'] %>]</th>
      <th>Lectura</th>
      <th>Operacion</th>
    </tr>
   </thead>
   <tbody>
   <% if session['mes'] == nil %>
    <% mes = nil %>
   <% else %>
    <% mes = session['mes'] %>
    <% mes = mes[0..7] %>
   <% end %>
    <% if mes == nil %>
     <tr>
      <td></td>
      <td>Debe seleccionar una fecha del mes.</td>
      <td></td>
      <td></td>
     </tr>
    <% else %>
     <% @users.each do |user| %>
      <% @temp =  ScrLectura.where("socio_id = '"+user.id.to_s+"' AND \"fechaLectura\"::TEXT LIKE '"+mes+"%'") %>
      <% posee = 0 %>
      <% for data in @temp %>
       <% posee = posee + 1 %>
      <% end %>
      <% if posee == 0 %>
       <tr>
        <td><%= user.contador %></td>
        <td><%= user.nombreusuario+'  '+user.apellidousuario %></td>
        <%= form_for(@scr_lectura) do |f| %>
         <td>
          <%= f.text_field :authenticity_token, type:"hidden", value:"vBHWMHC4MVtGnpSyJIsGypANFcKZZnruK/nsCFyDEyk=" %>
          <%= f.text_field :socio_id, type:"hidden", value:user.id %>
          <%= f.text_field :tecnico_id, type:"hidden", value:session['tecnico'] %>
          <%= f.text_field :fechaLectura, type:"hidden", value:session['mes'] %>
          <%= f.text_field :valorLectura, placeholder:"000", size: "5" %><span class="add-on">#</span>
         </td>
         <td><%= f.submit "Enviar", class:"btn btn-mini btn-primary", data: { confirm: 'Confirma la operación ?' } %></td>
        <% end %>
       </tr>
      <% else %>
      <% end %>
     <% end %>
    <% end %>
   </tbody>
   <tfoot>
    <tr>
      <th>Medidor</th>
      <th>Persona socia</th>
      <th>Lectura</th>
      <th>Operacion</th>
    </tr>
   </tfoot>
  </table>
 </div>
</div>

<br /><br /><br />
<div class="module">
 <div class="module-head"><h3>Historial de lecturas de consumo <%= link_to 'agregar lectura', new_scr_lectura_url, class:"btn btn-inverse" %></h3></div>
 <div class="module-body table">
  <table cellpadding="0" cellspacing="0" border="0" class="datatable-2 table table-bordered table-striped	 display" width="100%">
   <thead>
    <tr>
      <th>Fecha de lectura</th>
      <th>Socio</th>
      <th>Consumo cm<sup>3</sup></th>
    </tr>
  </thead>

  <tbody>
    <% @scr_lecturas.each do |scr_lectura| %>
      <tr>
        <td><%= scr_lectura.fechaLectura %></td>
        <td>
         <% c = ScrUsuario.find(scr_lectura.socio_id) %>
         <%= c.nombreusuario %> <%= c.apellidousuario %></td>
        <td><%= scr_lectura.valorLectura %></td>
        <!--<td><%= link_to 'Ver', scr_lectura %></td>
        <td><%= link_to 'Editar', edit_scr_lectura_path(scr_lectura) %></td>
        <td><%= link_to 'Eliminar', scr_lectura, method: :delete, data: { confirm: 'Confirmar operacion?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Socio</th>
      <th>Consumo</th>
      <th>Fecha de lectura</th>
    </tr>
  </tfoot>
</table>
<%= render :partial => '/layouts/main/tablas' %>


