<div class="module">
 <div class="module-head">
  <h3>Cobros y Pagos</h3>
 </div>
 <div class="module-body">
   <div id="cobro" class="graph"></div>
 </div>
</div>
<div class="module">
 <div class="module-head">
  <h3>Tipo de ingreso</h3>
 </div>
 <div class="module-body">
   <div id="rubro" class="graph"></div>
 </div>
</div>

<script type="text/javascript">
 $(function () {
  var d1 = [];
  <% @cobros.each do |data| %>
   d1.push([<%= data.Mes %>, <%= data.total %>]);
  <% end %>
  
  var d2 = [];
  <% @total.each do |data| %>
   d2.push([<%= data.Mes %>, <%= data.total %>]);
  <% end %>
  
  var d3 = [];
  <% @total_no_pagada.each do |data| %>
   d3.push([<%= data.Mes %>, <%= data.total %>]);
  <% end %>
  
  var d4 = [];
  <% @total_mor.each do |data| %>
   d4.push([<%= data.Mes %>, <%= data.total %>]);
  <% end %>
  
  $.plot("#cobro", [
			{ label: "Cobros recibidos", data: d1 },
			{ label: "Cobros esperados", data: d2 },
			{ label: "Cobros no recibidos", data: d3 },
			{ label: "Cobros en mora", data: d4 }
		], {
			series: {
				lines: { show: true },
				points: { show: true }
			},
			xaxis: {
				ticks: [
					[1, 'Ene'], [2, 'Feb'], [3, 'Mar'], [4, 'Abr'], 
					[5, 'May'], [6, 'Jun'], [7, 'Jul'], [8, 'Ago'],
					[9, 'Sep'], [10, 'Oct'], [11, 'Nov'], [12, 'Dic']
				]
			},
			grid: {
				backgroundColor: { colors: [ "#fff", "#eee" ] },
				borderWidth: {
					top: 1,
					right: 1,
					bottom: 2,
					left: 2
				}
			},
			tooltip: true
		});

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

</script>
<script type="text/javascript">
$(document).ready(function () {
	<% @rubro.each do |data| %>
	 var g<%= data.id %> = [
		<% @total_cob.each do |var| %>
			<% if data.id == var.id %>
				[<%= var.Mes %>, <%= var.total*data.cobroValor %>],
			<% end %>
		<% end %>
	 ];
    <% end %>
    
    var data1 = [
		<% @rubro.each do |data| %>
			{ label: '<%= data.cobroNombre %>', data: g<%= data.id %> },
		<% end %>
    ];
 
    $.plot($("#rubro"), data1, {
        series: {
            lines: {
                show: true, fill: true
            },
            points: {
                show: true
            },
        },
        xaxis: {
				ticks: [
					[1, 'Ene'], [2, 'Feb'], [3, 'Mar'], [4, 'Abr'], 
					[5, 'May'], [6, 'Jun'], [7, 'Jul'], [8, 'Ago'],
					[9, 'Sep'], [10, 'Oct'], [11, 'Nov'], [12, 'Dic']
				]
		},
        grid: {
            borderWidth: 1
        },
        legend: {
            labelBoxBorderColor: "none",
            position: "right"
        }
    });
});
</script>
