<div class="module">
 <div class="module-head">
  <h3>Potencia electrica - Tiempo de bombeo - Producción</h3>
 </div>
 <div class="module-body">
  <div class="chart">
   <div id="bombeo" class="graph">
   </div>
  </div>
 </div>
</div>

<div class="module">
 <div class="module-head">
  <h3>Control de cloro</h3>
 </div>
 <div class="module-body">
  <div class="chart">
   <div id="placeholder" class="graph">
   </div>
  </div>
 </div>
</div>
<!-- Jimmi Melvin Rodriguez Salazar -->
<script type="text/javascript">
 $(function () {
  var d1 = [];
  <% @bombeo.each do |data| %>
   d1.push([(new Date("<%= data.semana %>")).getTime(), <%= data.potencia %>]);
  <% end %>
  
  var d2 = [];
  <% @bombeo.each do |data| %>
   d2.push([(new Date("<%= data.semana %>")).getTime(), <%= TimeDifference.between(Time.parse(data.inicio), Time.parse(data.fin)).in_minutes %>]);
  <% end %>
  
  var d3 = [];
  <% @bombeo.each do |data| %>
   d3.push([(new Date("<%= data.semana %>")).getTime(), <%= data.produccion %>]);
  <% end %>

  $.plot("#bombeo", [
			{ label: "Potencia Electrica (voltaje * corriente)", data: d1 },
			{ label: "Tiempo de bombeo", data: d2 },
			{ label: "Producción", data: d3 }
		], {
			series: {
				lines: { show: true },
				points: { show: true }
			},
			xaxis: {
				mode: "time", timeformat: "%d/%m/%y", minTickSize: [1, "day"]
			},
			grid: {
				backgroundColor: { colors: [ "#fff", "#eee" ] },
				borderWidth: {
					top: 1,
					right: 1,
					bottom: 2,
					left: 2
				}
			},
			tooltip: true
		});

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

</script>
<script>
var DataSet1 = [ 
  <% @cloracion.each do |data| %>
   [(new Date("<%= data.semana %>")).getTime(), <%= data.total %>],
  <% end %>               
];
var datasets ={
    "DataSet1" :{
      label : "Numero de pastillas de cloro",
      data: DataSet1
    },
  };
var firstTime =true;
function plotByChoice(doAll)
{    
 data = [];
    if (doAll != null)
    {
		$.each(datasets, function(key, val) {
            data.push(val);
        });
    }        
    $.plot($("#placeholder"),
          data,
           { 
               xaxis:  {
                      mode: "time", timeformat: "%d/%m/%y", minTickSize: [1, "day"]
                },
           });
}
plotByChoice(this); 
</script>
