<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_empleado.empleadoNombre %> <%= @scr_empleado.empleadoApellido %>
</p>

<p>
  <strong>Telefonos:</strong>
  <%= @scr_empleado.empleadoTelefono %> <br>
  <%= @scr_empleado.empleadoCelular %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @scr_empleado.empleadoDireccion %>
</p>

<p>
  <strong>Dui:</strong>
  <%= @scr_empleado.empleadoDui %>
</p>

<p>
  <strong>Empleadonit:</strong>
  <%= @scr_empleado.empleadoNit %>
</p>

<p>
  <strong>ISSS:</strong>
  <%= @scr_empleado.empleadoIsss %>
</p>

<p>
  <strong>Fecha ingreso:</strong>
  <%= @scr_empleado.empleadoFechaIngreso %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @scr_empleado.cargo_id %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @scr_empleado.empleadoEmail %>
</p>

<%= link_to ' Editar ', edit_scr_empleado_path(@scr_empleado), class:"btn btn-inverse" %> |
<%= link_to ' Regresar ', scr_empleados_path, class:"btn btn-inverse" %>
