<%= form_for(@scr_cat_rep_legal) do |f| %>
  <% if @scr_cat_rep_legal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_cat_rep_legal.errors.count, "error") %> prohibited this scr_cat_rep_legal from being saved:</h2>

      <ul>
      <% @scr_cat_rep_legal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nombre_categoria %><br>
    <%= f.text_field :catRLegalNombre %>
  </div>
  <div class="control-group">
    <%= f.label :descripcion %><br>
    <%= f.text_area :catRLegalDescripcion %>
  </div>
  <div class="control-group">
    <%= f.label :representante_firma_? %><br>
    <%= f.check_box :catRLegalFirma %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class:"btn btn-mini btn-primary", data: { confirm: 'Confirma la operación ?' } %>
  </div>
<% end %>
