<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria de representante legal:</strong>
  <%= @scr_cat_rep_legal.catRLegalNombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @scr_cat_rep_legal.catRLegalDescripcion %>
</p>
<p>
  <strong>Firma informes financieros?:</strong>
  <%= @scr_cat_rep_legal.catRLegalFirma %>
</p>

<%= link_to 'Editar', edit_scr_cat_rep_legal_path(@scr_cat_rep_legal) %> |
<%= link_to 'Regresar', scr_cat_rep_legals_path %>
