<%= form_for(@scr_usuario) do |f|  %>
  <% if @scr_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_usuario.errors.count, "error") %> prohibited this scr_usuario from being saved:</h2>
      <ul>
      <% @scr_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="control-group">
    <div class="controls row-fluid">
     <%= f.text_field :nombreusuario, placeholder:"Nombres" %> <%= f.text_field :apellidousuario, placeholder:"Apellidos" %> 
    </div>
   </div>
   <div class="control-group">
    <div class="controls row-fluid">
     <%= f.telephone_field :telefonousuario, placeholder:"telefono" %> <%= f.text_field :correousuario, placeholder:"Correo_Electronico", type:"email" %>  
    </div>
   </div>
   <div class="control-group">
    <div class="controls row-fluid">
     <%= f.text_field :nacimientousuario, placeholder:"Fecha de nacimiento", id: "datepicker" %> 
    </div>
   </div>
   <div class="control-group">
    <div class="controls row-fluid">
     <%= f.text_field :username, placeholder:"Username" %> <%= f.text_field :password, type:"password", placeholder:"Password" %> 
    </div>
   </div>
   <div class="control-group">
    <div class="controls row-fluid">
     Localidad: <%= f.select :localidad_id, ScrLocalidad.select('id, id, "localidad_nombre", "localidad_nombre"').order(:localidad_nombre).all.collect { |p| [ p.localidad_nombre, p.id ] }, include_blank: false %> <%= f.text_field :direccionusuario, placeholder:"Dirección" %> 
    </div>
   </div>
   <div class="control-group">
    <div class="controls row-fluid">
     <div class="input-append"><span class="add-on">#</span><%= f.number_field :latusuario, placeholder:"Latitud", :step => 'any' %> <span class="add-on">#</span> <%= f.number_field :lonusuario, placeholder:"Longitud", :step => 'any' %></div>
    </div>
   </div>
   <div class="control-group">
    <div class="controls row-fluid">
     <%= f.text_field :detalleuuario, placeholder:"Comentarios" %>
    </div>
   </div>
   <div class="control-group">
    <div class="controls row-fluid">
     Imagen: <%= f.file_field :imagenusuario, placeholder:"Username" %> <br />
     Estado: <%= f.select :estado_id, ScrEstado.order(:nombreEstado).all.collect { |p| [ p.nombreEstado, p.id ] }, include_blank: false %><br/>
     Código de contador<div class="input-append"><span class="add-on">#</span><%= f.number_field :contador, placeholder:"Código de Contador" %></div>
    </div>
   </div>
   <div class="control-group">
    <%= f.submit "Procesar información", class:"btn btn-mini btn-primary", data: { confirm: 'Confirma la operación ?' } %>
   </div>
<% end %>
