<div class="module">
 <div class="module-head"><h3>Catalogo de beneficiario</h3></div>
 <div class="module-body table">
  <table cellpadding="0" cellspacing="0" border="0" class="datatable-2 table table-bordered table-striped	 display" width="100%">
   <thead>
    <tr>
      <th>Impresion</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Contador</th>
      <th>Orden</th>
      <th colspan="3">Operaciones</th>
    </tr>
  </thead>
  <tbody>
    <% @scr_usuarios.each do |scr_usuario| %>
      <tr>
        <td><%= scr_usuario.orden %></td>
        <td><%= scr_usuario.nombreusuario %></td>
        <td><%= scr_usuario.apellidousuario %></td>
        <td><%= scr_usuario.telefonousuario %></td>
        <td><%= scr_usuario.contador %></td>			
        <td>
		 <%= form_for :scr_usuario, :url => { :action => :orden } do |f| %>
		  <%= f.text_field :orden, placeholder:scr_usuario.orden, class: 'input-mini' %>
		  <%= f.text_field :idorden, value:scr_usuario.id, type:"hidden" %>
		 <% end %></td>
        <td><%= link_to 'Ver', scr_usuario, class:"btn btn-mini btn-info" %></td>
        <td><%= link_to 'Editar', edit_scr_usuario_path(scr_usuario), class:"btn btn-mini btn-info" %></td>
        <td><%= link_to 'Eliminar', scr_usuario, method: :delete, data: { confirm: 'Confirmar operacion?' }, class:"btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
   <tr>
    <th>Impresion</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Telefono</th>
    <th>Contador</th>
    <th>Orden</th>
    <th colspan="3">Operaciones</th>
   </tr>
  </tfoot>
 </table>
 <br>

<%= link_to 'Nuevo beneficiario', new_scr_usuario_path, class:"btn btn-inverse" %>
 </div>
</div>
<%= render :partial => '/layouts/main/tablas' %>

