<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_representante_legal.rLegalNombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @scr_representante_legal.rLegalApellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @scr_representante_legal.rLegalTelefono %>
</p>

<p>
  <strong>Telefono movil:</strong>
  <%= @scr_representante_legal.rLegalCelular %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @scr_representante_legal.rLegalDireccion %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @scr_representante_legal.rLegalemail %>
</p>

<p>
  <strong>Categoria:</strong>
  <% c = ScrCatRepLegal.find(@scr_representante_legal.cat_rep_legal_id) %>
  <%= c.catRLegalNombre %>
</p>
<%= link_to 'Editar', edit_scr_representante_legal_path(@scr_representante_legal) %> |
<%= link_to 'Regresar', scr_representante_legals_path %>
