<h1>Listado de organizaciones</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @scr_organizacions.each do |scr_organizacion| %>
      <tr>
        <td><%= scr_organizacion.organizacionNombre %></td>
        <td><%= scr_organizacion.organizacionDescripcion %></td>
        <td><%= link_to ' Ver ', scr_organizacion %></td>
        <td><%= link_to ' Editar ', edit_scr_organizacion_path(scr_organizacion) %></td>
        <td><%= link_to ' Eliminar ', scr_organizacion, method: :delete, data: { confirm: 'Confirma la operación?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva organización ', new_scr_organizacion_path %>
