<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_organizacion.organizacionNombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @scr_organizacion.organizacionDescripcion %>
</p>

<%= link_to ' Editar ', edit_scr_organizacion_path(@scr_organizacion), class:"btn btn-mini btn-info" %> |
<%= link_to ' Regresar ', scr_organizacions_path, class:"btn btn-mini btn-inverse" %>
