<%= form_for(@scr_transaccion, remote: true, format: :json) do |f| %>
  <% if @scr_transaccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_transaccion.errors.count, "error") %> prohibited this scr_transaccion from being saved:</h2>

      <ul>
      <% @scr_transaccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transaxSecuencia %><br>
    <%= f.number_field :transaxSecuencia %>
  </div>
  <div class="field">
    <%= f.label :cuenta_id %><br>
    <%= f.number_field :cuenta_id %>
  </div>
  <div class="field">
    <%= f.label :transaxMonto %><br>
    <%= f.text_field :transaxMonto %>
  </div>
  <div class="field">
    <%= f.label :transaxDebeHaber %><br>
    <%= f.check_box :transaxDebeHaber %>
  </div>
  <div class="field">
    <%= f.label :empleado_id %><br>
    <%= f.number_field :empleado_id %>
  </div>
  <div class="field">
    <%= f.label :transaxRegistro %><br>
    <%= f.datetime_select :transaxRegistro %>
  </div>
  <div class="field">
    <%= f.label :transaxFecha %><br>
    <%= f.date_select :transaxFecha %>
  </div>
  <div class="field">
    <%= f.label :pcontable_id %><br>
    <%= f.number_field :pcontable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
