<p id="notice"><%= notice %></p>

<p>
  <strong>Transaxsecuencia:</strong>
  <%= @scr_transaccion.transaxSecuencia %>
</p>

<p>
  <strong>Cuenta:</strong>
  <%= @scr_transaccion.cuenta_id %>
</p>

<p>
  <strong>Transaxmonto:</strong>
  <%= @scr_transaccion.transaxMonto %>
</p>

<p>
  <strong>Transaxdebehaber:</strong>
  <%= @scr_transaccion.transaxDebeHaber %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @scr_transaccion.empleado_id %>
</p>

<p>
  <strong>Transaxregistro:</strong>
  <%= @scr_transaccion.transaxRegistro %>
</p>

<p>
  <strong>Transaxfecha:</strong>
  <%= @scr_transaccion.transaxFecha %>
</p>

<p>
  <strong>Pcontable:</strong>
  <%= @scr_transaccion.pcontable_id %>
</p>

<%= link_to 'Edit', edit_scr_transaccion_path(@scr_transaccion) %> |
<%= link_to 'Back', scr_transaccions_path %>
