<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre de categoria de cobro:</strong>
  <%= @scr_cat_cobro.cCobroNombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @scr_cat_cobro.cCobroDescripcion %>
</p>

<%= link_to 'Editar', edit_scr_cat_cobro_path(@scr_cat_cobro) %> |
<%= link_to 'Regresar', scr_cat_cobros_path %>
