<%= form_for(@scr_consumo) do |f| %>
  <% if @scr_consumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_consumo.errors.count, "error") %> prohibited this scr_consumo from being saved:</h2>

      <ul>
      <% @scr_consumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :registro %><br>
    <%= f.datetime_select :registro %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :cobro_id %><br>
    <%= f.number_field :cobro_id %>
  </div>
  <div class="field">
    <%= f.label :factura_id %><br>
    <%= f.number_field :factura_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
