<%= form_for(@scr_periodo_representante) do |f| %>
  <% if @scr_periodo_representante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_periodo_representante.errors.count, "error") %> prohibited this scr_periodo_representante from being saved:</h2>

      <ul>
      <% @scr_periodo_representante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Organizacion %><br>
    <%= collection_select(:organizacion_id, :id, ScrOrganizacion.all, :id, :organizacionNombre) %>
  </div>
  <div class="control-group">
    <%= f.label :Representante %><br>
    <%= f.select :representante_legal_id, ScrRepresentanteLegal.order(:rLegalNombre).all.collect { |p| [ p.rLegalNombre+"  ".html_safe+p.rLegalApellido, p.id ] }, include_blank: false %>
  </div>
  <div class="control-group">
    <%= f.label :Inicio_periodo %><br>
    <%= f.text_field :periodoFin, id: "datepicker" %>
  </div>
  <div class="control-group">
    <%= f.label :Fin_periodo %><br>
    <%= f.text_field :periodoFin, id: "datepicker" %>
  </div>
  <div class="actions">
    <%= f.submit "Procesar información", class:"btn btn-mini btn-primary", data: { confirm: 'Confirma la operación ?' } %>
  </div>
<% end %>
