<p id="notice"><%= notice %></p>

<p>
  <strong>Organizacion:</strong>
  <% c = ScrOrganizacion.find(@scr_periodo_representante.organizacion_id) %>
  <%= c.organizacionNombre %>
</p>

<p>
  <strong>Representante legal:</strong>
  <% c = ScrRepresentanteLegal.find(@scr_periodo_representante.representante_legal_id) %>
  <%= c.rLegalNombre+"  "+c.rLegalApellido %>
</p>

<p>
  <strong>Periodo inicio:</strong>
  <%= @scr_periodo_representante.periodoInicio %>
</p>

<p>
  <strong>Periodo fin:</strong>
  <%= @scr_periodo_representante.periodoFin %>
</p>

<%= link_to 'Editar', edit_scr_periodo_representante_path(@scr_periodo_representante) %> |
<%= link_to 'Regresar', scr_periodo_representantes_path %>
