<p id="notice"><%= notice %></p>

<p>
  <strong>Corgnombre:</strong>
  <%= @scr_cat_organizacion.cOrgNombre %>
</p>

<p>
  <strong>Corgdescripcion:</strong>
  <%= @scr_cat_organizacion.cOrgDescripcion %>
</p>

<%= link_to 'Edit', edit_scr_cat_organizacion_path(@scr_cat_organizacion) %> |
<%= link_to 'Back', scr_cat_organizacions_path %>
