<div class="module">
 <div class="module-head"><h3>Libro mayor...</h3></div>
 <div class="module-body table">
  <table cellpadding="0" cellspacing="0" border="0" class="datatable-2 table table-bordered table-striped	 display" width="100%">
  <thead>
    <tr>
      <th>Cuenta</th>
      <th>Nombre</th>
      <th>Debe</th>
      <th>Haber</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
       <% debe = 0 %>
       <% haber = 0 %>
       <% @ScrCuentua.each do |c| %>
        <tr>
         <td><%= c.cuentaCodigo %></td>
         <td><%= c.cuentaNombre %></td>
         <td><%= c.cuentaDebe.round(2) %></td>
         <td><%= c.cuentaHaber.round(2) %></td>
         <% if c.cuentaCodigo.to_s.length > 4 %>
          <% debe += c.cuentaDebe %>
          <% haber += c.cuentaHaber %>
         <% end %>
         <% if c.cuentaCodigo.to_s.initial == '2' or c.cuentaCodigo.to_s.initial == '3' or c.cuentaCodigo.to_s.initial == '5' %>
          <% if c.cuentaDebe - c.cuentaHaber < 0 %>
           <td><%= (c.cuentaDebe - c.cuentaHaber).abs.round(2) %></td>
          <% else %>
           <td>(<%= (c.cuentaHaber - c.cuentaDebe).abs.round(2) %>)</td>
          <% end %>
         <% else %>
          <% if c.cuentaDebe - c.cuentaHaber < 0 %>
           <td>(<%= (c.cuentaHaber - c.cuentaDebe).round(2) %>)</td>
          <% else %>
           <td><%= (c.cuentaDebe - c.cuentaHaber).round(2) %></td>
          <% end %>
         <% end %>
        </tr>
       <% end %>
     </tbody>
  <tfoot>
    <tr>
      <th>Cuenta</th>
      <th>Nombre</th>
      <th>Debe</th>
      <th>Haber</th>
      <th>Saldo</th>
    </tr>
    <tr>
      <th colspan="2">
       <% if @label == 1 %>
        <%= form_for :transacx, :url => { :action => :pdf } do |f| %>
         <%= f.text_field :transaxFecha, type:"hidden", value:@fecha %>
         <%= f.text_field :id, type:"hidden", value:1 %>
         <%= f.submit "Imprimir", class:"btn btn-inverse btn-info btn-xs" %>
        <% end %>
       <% end %>
      </th>
      <th>[<%= debe.round(2) %>]</th>
      <th>[<%= haber.round(2) %>]</th>
      <th></th>
    </tr>
  </tfoot>
</table>
