<%= form_for(@scr_cargo) do |f| %>
  <% if @scr_cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_cargo.errors.count, "error") %> prohibited this scr_cargo from being saved:</h2>

      <ul>
      <% @scr_cargo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :cargoNombre %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %><br>
    <%= f.text_area :cargoDescripcion %>
  </div>
  <div class="field">
    <%= f.label :Salario %><br>
    <%= f.text_field :cargoSalario %>
  </div>
  <div class="field">
    <%= f.label :Cargo %><br>
    <%= f.select :cargo_id, ScrCargo.order(:cargoNombre).all.collect { |p| [ p.cargoNombre, p.id ] }, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
