<%= form_for(@scr_marca_produc) do |f| %>
  <% if @scr_marca_produc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scr_marca_produc.errors.count, "error") %> prohibited this scr_marca_produc from being saved:</h2>

      <ul>
      <% @scr_marca_produc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :marcaProducNombre %>
  </div>
  <div class="field">
    <%= f.label :Descripción %><br>
    <%= f.text_area :marcaProducDescrip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
