<h1>Listado de marcas de producto</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scr_marca_producs.each do |scr_marca_produc| %>
      <tr>
        <td><%= scr_marca_produc.marcaProducNombre %></td>
        <td><%= scr_marca_produc.marcaProducDescrip %></td>
        <td><%= link_to ' Ver ', scr_marca_produc %></td>
        <td><%= link_to ' Editar ', edit_scr_marca_produc_path(scr_marca_produc) %></td>
        <td><%= link_to ' Eliminar ', scr_marca_produc, method: :delete, data: { confirm: 'Confirma la operación ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva marca de producto', new_scr_marca_produc_path %>
