<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_marca_produc.marcaProducNombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @scr_marca_produc.marcaProducDescrip %>
</p>

<%= link_to ' Editar ', edit_scr_marca_produc_path(@scr_marca_produc) %> |
<%= link_to ' Regresar ', scr_marca_producs_path %>
