<div class="module">
 <div class="module-head">
  <h3>Administracion del sistema</h3>
 </div>
 <div class="module-body">
  <div class="row-fluid">
   <div class="span6">
   <!--
    <%= form_for :transacx, class:"form-horizontal row-fluid", :url => { :action => :configure } do |f| %>
     <div class="control-group">
      <%= f.label :Nombre %>
      <div class="controls">
       <div class="input-append">
        <%= f.text_field :nombre, placeholder:"Nombre de la institución ..." %><span class="add-on">Cambiar por</span>
       </div>
      </div>
     </div>
     <%= f.submit "Cambiar", class:"btn btn-mini btn-primary", data: { confirm: 'Confirma la operación ?' } %>
    <% end %>
   -->
   </div>
   <div class="span6">
    <%= form_for :transacx, class:"form-horizontal row-fluid", :url => { :action => :configure } do |f| %>
     <div class="control-group">
      <div class="controls">Obtener actualizaciones desde repositorio (control de versiones).
       <div class="input-append"><span class="add-on">Realice esta operación unicamente si esta seguro</span></div>
       <%= f.text_field :actual, type:"hidden", value:"vBHWMHC4MVtGnpSyJIsGypANFcKZZnruK/nsCFyDEyk=" %>
      </div>
     </div>
     <%= f.submit "Actualizar sistema contable", class:"btn btn-mini btn-inverse", data: { confirm: 'Recuerde que no debe estar seguro.' } %>
    <% end %>
   </div>
  </div>
 </div>
</div>
<br />
