<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_cat_actividad.cActividadNombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @scr_cat_actividad.catActividadDescripcion %>
</p>

<%= link_to ' Editar ', edit_scr_cat_actividad_path(@scr_cat_actividad) %> |
<%= link_to ' Regresar ', scr_cat_actividads_path %>
