<div class="module">
 <div class="module-head"><h3>Balance General.</h3></div>
 <div class="module-body table">
  <!-- Total de activos -->
  <!--<table cellpadding="0" cellspacing="0" border="0" class="datatable-2 table table-bordered table-striped	 display" width="100%">--> 
  <table cellpadding="0" cellspacing="0" border="0" display" width="100%">
  <thead>
    <tr>
      <th>Cuenta</th>
      <th>Nombre</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
   <!-- inicio de secuencias -->
   <% saldo = 0 %>
   <% cuenta = "" %>
   <% id = 0 %>
   <% saldo_a = 0 %>
   <% saldo_p= 0 %>
   <% saldo_c = 0 %>
   <% @ScrTodas.each do |t| %>
    <% if id != t.cuentaCodigo && t.cuentaCodigo < 4 %>
     <% if id != 0 %>
      <td></td>
      <td><b>TOTAL DE <%= cuenta %></b></td>
      <% if saldo >= 0 %>
       <td><b><%= saldo %></b></td>
      <% else %>
       <td><b><%= saldo.abs %></b></td>
      <% end %>
     <% end %>
     <% id = t.cuentaCodigo %>
     <% saldo = 0 %>
     <% cuenta = t.cuentaNombre %>
    <% else %>
     <% (t.cuentaCodigo > 99 ? saldo += t.cuentaDebe - t.cuentaHaber : saldo += 0) %>
    <% end %>
    <tr>
     <% number = t.cuentaCodigo.to_s %>
     <% number = number.initial %>
     <% case number.to_i
         when 1
          (t.cuentaCodigo > 999 ? saldo_a += t.cuentaDebe - t.cuentaHaber : saldo_a += 0)
         when 2
          (t.cuentaCodigo > 999 ? saldo_p += t.cuentaHaber - t.cuentaDebe : saldo_p += 0)
         when 3
          (t.cuentaCodigo > 999 ? saldo_c += t.cuentaHaber - t.cuentaDebe : saldo_c += 0)
         else
        end
     %>
     <% monton = 0 %>
     <% if number.to_i > 3 %>
     <% elsif t.cuentaCodigo < 4 %>
      <td><b><%= t.cuentaCodigo %></b></td>
      <td><b><%= t.cuentaNombre %></b></td>
      <td></td>
     <% elsif t.cuentaCodigo < 100 %>
      <td><b><%= t.cuentaCodigo %></b></td>
      <td><b><%= t.cuentaNombre %></b></td>
      <% case number.to_i
         when 1
          (monto = t.cuentaDebe - t.cuentaHaber )
         else
          (monto = t.cuentaHaber - t.cuentaDebe )
        end
      %>      
      <% if monto >= 0 %>
       <td><b><%= monto %></b></td>
      <% else %>
       <td><b>(<%= monto %>)</b></td>
      <% end %>
     <% else %>
      <td><%= t.cuentaCodigo %></td>
      <td><%= t.cuentaNombre %></td>
      <% case number.to_i
         when 1
          (monto = t.cuentaDebe - t.cuentaHaber )
         else
          (monto = t.cuentaHaber - t.cuentaDebe )
        end
      %>      
      <% if monto >= 0 %>
       <td><%= monto %></td>
      <% else %>
       <td>(<%= monto %>)</td>
      <% end %>
     <% end %>
    </tr>
   <% end %>
    <tr>
     <td></td>
     <td><b>TOTAL DE <%= cuenta %></b></td>
     <td><b><%= saldo.abs %></b></td>
    </tr>
   <!-- fin secuencias -->
  </tbody>
  <tfoot>
    <tr>
      <th>Cuenta</th>
      <th>Nombre</th>
      <th>Saldo</th>
    </tr>
    <tr>
      <th></th>
      <th>Activo = Pasivo + Capital ~ <%= saldo_a.round(2) %> = <%= saldo_p.round(2) %> + <%= saldo_c.round(2) %></th>
      <th></th>
    </tr>
  </tfoot>
</table>
<% if (saldo_a.round(2) == saldo_p.round(2) + saldo_c.round(2)) %>
 <div class="alert alert-success">
  <%= form_for :transacx, :url => { :action => :pdf } do |f| %>
         <%= f.text_field :transaxFecha, type:"hidden", value:@fecha %>
         <%= f.text_field :id, type:"hidden", value:0 %>
         <%= f.submit "Imprimir", class:"btn btn-inverse btn-info btn-xs" %>
  <% end %>
  <strong>Felicitaciones!</strong> El ejercicio se cumplio, puede revisar el estado de resultados, recuerde realizar los asientos de ajuste antes de elaborar el estado de resultados
 </div>
<% else %>
 <div class="alert alert-error">
  <strong>Advertencia!</strong> No se puede realizar el cierre contable ya que no se cumple con este informe
 </div>
<% end %>
