<div class="module">
 <div class="module-head"><h3>Balance General.</h3></div>
 <div class="module-body table">
  <!-- Total de activos -->
  <!--<table cellpadding="0" cellspacing="0" border="0" class="datatable-2 table table-bordered table-striped	 display" width="100%">--> 
  <table cellpadding="0" cellspacing="0" border="0" display" width="100%">
  <thead>
    <tr>
      <th>Cuenta</th>
      <th>Nombre</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
   <% saldo_a = 0 %>
   <% saldo_p= 0 %>
   <% saldo_c = 0 %>
   <% @ScrTodas.each do |t| %>
    <tr>
     <% number = t.cuentaCodigo.to_s %>
     <% if t.cuentaCodigo.to_s.length < 5 %>
       <td><b><%= t.cuentaCodigo %></b></td>
       <td><b><%= t.cuentaNombre %></b></td>
       <% if t.cuentaCodigo.to_s.initial == '2' or t.cuentaCodigo.to_s.initial == '3' or t.cuentaCodigo.to_s.initial == '5' %>
        <% if t.cuentaDebe - t.cuentaHaber < 0 %>
         <td><b><%= number_to_currency((t.cuentaDebe - t.cuentaHaber), unit: "$", separator: ".", delimiter: ",", format: "%u %n") %></b></td>
        <% else %>
         <td><b>(<%= number_to_currency((t.cuentaHaber - t.cuentaDebe), unit: "$", separator: ".", delimiter: ",", format: "%u %n") %>)</b></td>
        <% end %>
       <% else %>
        <% if t.cuentaDebe - t.cuentaHaber < 0 %>
         <td><b>(<%= number_to_currency((t.cuentaHaber - t.cuentaDebe), unit: "$", separator: ".", delimiter: ",", format: "%u %n") %>)</b></td>
        <% else %>
         <td><b><%= number_to_currency((t.cuentaDebe - t.cuentaHaber), unit: "$", separator: ".", delimiter: ",", format: "%u %n") %></b></td>
        <% end %>
       <% end %>
     <% else %>
       <td><%= t.cuentaCodigo %></td>
       <td><%= t.cuentaNombre %></td>
       <% if t.cuentaCodigo.to_s.initial == '2' or t.cuentaCodigo.to_s.initial == '3' or t.cuentaCodigo.to_s.initial == '5' %>
        <% if t.cuentaDebe - t.cuentaHaber < 0 %>
         <td><%= (t.cuentaDebe - t.cuentaHaber).abs.round(2) %></td>
        <% else %>
         <td>(<%= (t.cuentaHaber - t.cuentaDebe).abs.round(2) %>)</td>
        <% end %>
       <% else %>
        <% if t.cuentaDebe - t.cuentaHaber < 0 %>
         <td>(<%= (t.cuentaHaber - t.cuentaDebe).round(2) %>)</td>
        <% else %>
         <td><%= (t.cuentaDebe - t.cuentaHaber).round(2) %></td>
        <% end %>
       <% end %>
     <% end %>
    </tr>
    <% if t.cuentaCodigo.to_s.initial == '1' and t.cuentaCodigo.to_s.length > 4 %>
     <% saldo_a += t.cuentaDebe - t.cuentaHaber %>
    <% end %>
    <% if t.cuentaCodigo.to_s.initial == '2' and t.cuentaCodigo.to_s.length > 4 %>
     <% saldo_p += t.cuentaHaber - t.cuentaDebe %>
    <% end %>
    <% if t.cuentaCodigo.to_s.initial == '3' and t.cuentaCodigo.to_s.length > 4 %>
     <% saldo_c += t.cuentaHaber - t.cuentaDebe %>
    <% end %>
   <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Cuenta</th>
      <th>Nombre</th>
      <th>Saldo</th>
    </tr>
    <tr>
      <th></th>
      <th>Activo = Pasivo + Capital ~ <%= number_to_currency(saldo_a, unit: "$", separator: ".", delimiter: ",", format: "%u %n") %> = <%= saldo_p.round(2) %> + <%= saldo_c.round(2) %></th>
      <th></th>
    </tr>
  </tfoot>
</table>
<% if (saldo_a.round(2) == saldo_p.round(2) + saldo_c.round(2)) %>
 <div class="alert alert-success">
  <%= form_for :transacx, :url => { :action => :pdf } do |f| %>
         <%= f.text_field :transaxFecha, type:"hidden", value:@fecha %>
         <%= f.text_field :id, type:"hidden", value:0 %>
         <%= f.submit "Imprimir", class:"btn btn-inverse btn-info btn-xs" %>
  <% end %>
  <strong>Felicitaciones!</strong> El ejercicio se cumplio, puede revisar el estado de resultados, recuerde realizar los asientos de ajuste antes de elaborar el estado de resultados
 </div>
<% else %>
 <div class="alert alert-error">
  <strong>Advertencia!</strong> No se puede realizar el cierre contable ya que no se cumple con este informe
 </div>
<% end %>
