<div class="module">
 <div class="module-head"><h3>Estado de resultados [<%= Time.now.strftime("%F %T") %>]. </h3></div>
 <div class="module-body table">
  <table cellpadding="0" cellspacing="0" border="0" display" width="100%">
  <thead>
    <tr>
      <th>Cuenta</th>
      <th>Nombre</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
   <!-- inicio de secuencias -->
   <% saldo_a = 0 %>
    <tr><td></td><td><strong>Ingreso por Servicios de agua (+)</strong></td><td></td></tr>
    <% @ing_ventas.each do |c| %>
     <tr>
      <td><%= c.cuentaCodigo %></td>
      <td><%= c.cuentaNombre %></td>
      <td><%= -c.total.round(2) %></td>
      <% saldo_a -= c.total %>
     </tr>
    <% end %>
    <tr><td></td><td><strong>Costo por servicios prestados (-)</strong></td><td></td></tr>
    <% @cos_ventas.each do |c| %>
     <tr>
      <td><%= c.cuentaCodigo %></td>
      <td><%= c.cuentaNombre %></td>
      <td><%= c.total.round(2) %></td>
      <% saldo_a -= c.total %>
     </tr>
    <% end %>
    <tr><td></td><td><strong><p align="right">Utilidad bruta</p></strong></td><td><%= saldo_a.round(2) %></td></tr>
    <tr><td></td><td><strong>Gasto por servicios prestados (-)</strong></td><td></td></tr>
    <% @gas_ventas.each do |c| %>
     <tr>
      <td><%= c.cuentaCodigo %></td>
      <td><%= c.cuentaNombre %></td>
      <td><%= c.total.round(2) %></td>
      <% saldo_a -= c.total %>
     </tr>
    <% end %>
    <tr><td></td><td><strong>Costo de administración (-)</strong></td><td></td></tr>
    <% @gas_administracion.each do |c| %>
     <tr>
      <td><%= c.cuentaCodigo %></td>
      <td><%= c.cuentaNombre %></td>
      <td><%= c.total.round(2) %></td>
      <% saldo_a -= c.total %>
     </tr>
    <% end %>
    <tr><td></td><td><strong><p align="right">Utilidad operativa</p></strong></td><td><%= saldo_a.round(2) %></td></tr>
    <tr><td></td><td><strong>Gastos financieros (-)</strong></td><td></td></tr>
    <% @gas_financieros.each do |c| %>
     <tr>
      <td><%= c.cuentaCodigo %></td>
      <td><%= c.cuentaNombre %></td>
      <td><%= c.total.round(2) %></td>
      <% saldo_a -= c.total %>
     </tr>
    <% end %>
    <tr><td></td><td><strong><p align="right">Utilidad antes de impuestos</p></strong></td><td><%= saldo_a.round(2) %></td></tr>
    <tr><td></td><td><strong>Otros ingresos / Ingreso por productos financieros (+)</strong></td><td></td></tr>
    <% @ing_otros.each do |c| %>
     <tr>
      <td><%= c.cuentaCodigo %></td>
      <td><%= c.cuentaNombre %></td>
      <td><%= c.total.round(2) %></td>
      <% saldo_a += c.total %>
     </tr>
    <% end %>
    <tr><td></td><td><strong>Impuesto a las ganancias (-)</strong></td><td></td></tr>
    <% @gas_impuestos.each do |c| %>
     <tr>
      <td><%= c.cuentaCodigo %></td>
      <td><%= c.cuentaNombre %></td>
      <td><%= c.total.round(2) %></td>
      <% saldo_a -= c.total %>
     </tr>
    <% end %>
    <tr><td></td><td><strong><p align="right">Ganancia neta / Utilidad final del ejercicio</p></strong></td><th><%= saldo_a.round(2) %></th>
    </tr>
   <!-- fin secuencias -->
  </tbody>
  <tfoot>
  </tfoot>
</table>
<% if saldo_a.round(2) > 0 %>
 <div class="alert alert-success">
  <%= form_for :transacx, :url => { :action => :pdf } do |f| %>
         <%= f.text_field :transaxFecha, type:"hidden", value:@fecha %>
         <%= f.text_field :id, type:"hidden", value:1 %>
         <%= f.submit "Imprimir", class:"btn btn-inverse btn-info btn-xs" %>
  <% end %>
  <strong>Felicitaciones!</strong> El ejercicio termino con utilidades
 </div>
<% elsif saldo_a == 0 %>
 <div class="alert alert-success">
  <%= form_for :transacx, :url => { :action => :pdf } do |f| %>
         <%= f.text_field :transaxFecha, type:"hidden", value:@fecha %>
         <%= f.text_field :id, type:"hidden", value:1 %>
         <%= f.submit "Imprimir", class:"btn btn-inverse btn-info btn-xs" %>
  <% end %>
  <strong>Felicitaciones!</strong> El ejercicio termino con utilidades
 </div>
<% else %>
 <div class="alert alert-error">
  <strong>Advertencia!</strong> El ejercicio termino con perdidas !!!
 </div>
<% end %>
