<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong><%= @scr_area_trabajo.aTrabajoNombre %>
</p>

<p>
  <strong>Descripcion:</strong><%= @scr_area_trabajo.aTrabajoDescripcion %>
</p>

<%= link_to 'Editar', edit_scr_area_trabajo_path(@scr_area_trabajo) %> |
<%= link_to 'Regresar', scr_area_trabajos_path %>
