<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong> <%= @scr_cloracion.fecha %>
</p>

<p>
  <strong>Hora:</strong> <%= @scr_cloracion.hora %>
</p>

<p>
  <strong>Gramos de cloro:</strong> <%= @scr_cloracion.gramos %>
</p>

<p>
  <strong>Localidad:</strong> <%= @scr_cloracion.localidad_id %>
</p>

<p>
  <strong>Observacion:</strong> <%= @scr_cloracion.observacion %>
</p>

<%= link_to 'Editar', edit_scr_cloracion_path(@scr_cloracion), class:"btn btn-mini btn-info" %> |
<%= link_to 'Regresar', scr_cloracions_path, class:"btn btn-mini btn-inverse" %>
